.breadcrumbsPath {
	margin-top: 20px !important;
	display: flex;
	align-items: center;

	&__item {
		&__link {
			color: #777 !important;
			text-decoration: none !important;
			transition: color 0.1s ease-in-out !important;

			&:hover {
				color: #333 !important;
			}
		}

		&__icon {
			margin: 0 5px;
		}
	}
}
