.header__admin {
	background-color: #f4f5fa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;

	&__left__search {
		background-color: white;
		width: 300px;
	}

	&__right__user__menu {
		&__info {
			display: flex;

			&__text {
				margin-left: 10px;

				& span {
					font-size: 14px;
					color: #999;
				}
			}
		}

		&__icon {
			font-size: 20px;
			color: #555;
		}
	}
}
