.featured {
	margin-top: 40px;

	&__title {
		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			background-color: #f15a25;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			height: 50px;
			padding: 0 5px;
		}

		font-size: 20px;
		font-weight: 700;
		color: white;
		text-transform: uppercase;
		margin-left: 5px;

		&__item {
			&__wrapper {
				display: flex;
				align-items: center;
			}

			color: unset;
			text-decoration: none;

			background-color: white;
			margin: 0 5px;
			padding: 5px 15px;

			font-size: 13px;
			border-radius: 16px;
			text-transform: capitalize;

			&:hover {
				color: #288ad6 !important;
			}
		}

		&__total {
			font-size: 14px;
			font-weight: 600;
		}
	}

	&__product__slider {
		position: relative;
		overflow: hidden;

		& .slick-track {
			display: flex !important;
		}

		&:hover {
			.featured__product__slider__icon {
				opacity: 1;
			}
		}

		&__icon {
			position: absolute;
			z-index: 99;
			top: 40%;

			font-size: 45px;
			width: 30px;
			overflow: hidden;
			color: #f15a25;

			display: flex;
			justify-content: center;
			align-items: center;

			height: 65px;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
			cursor: pointer;

			&__prev {
				left: 0;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			&__next {
				right: 0;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			opacity: 0.5;
			transition: opacity 0.2s linear;
		}

		&__item {
			border-right: 1px solid #f0f0f0;
			border-bottom: 1px solid #f0f0f0;

			&:first-child {
				border-left: 1px solid #f0f0f0;
			}
		}
	}
}
