.sliderMini {
	margin-top: 10px;
	position: relative;
	overflow: hidden;

	& .slick-track {
		display: flex !important;
	}

	&__item {
		display: flex !important;
		justify-content: center;
		align-items: center;

		& img {
			width: 360px;
			height: 150px;
		}
	}
}
