.productTable {
	margin-top: 30px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 5px;

	&__btn {
		&__wrapper {
			padding: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		text-transform: none !important;
		height: 38px !important;

		&__search {
			margin-right: 20px !important;
		}
	}
}
