.productSearchFilter {
	background-color: white;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	padding: 20px;

	&__title {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	&__select {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}
}
