.productGroup {
	&__item {
		&__wrapper {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
		}

		border-right: 1px solid #f0f0f0;
		border-top: 1px solid #f0f0f0;
		border-bottom: 1px solid #f0f0f0;

		&:first-child,
		&:nth-child(6) {
			border-left: 1px solid #f0f0f0;
		}
	}

	&__btn {
		&__wrapper {
			display: flex;
			justify-content: center;
			margin-top: 50px;
		}

		text-transform: capitalize !important;
	}
}
